body{
    background-color: #1f1f1f;
    color: darkgoldenrod;
    font-family: 'Junicode','Times New Roman', Times, serif;
}


@font-face {
  font-family: 'Junicode';
  src: url('./Fonts/Junicode/Junicode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.main_nav{
    margin-top: 35px;
    background-color: #1f1f1f;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    font-family: 'Bricolage Grotesque', sans-serif;



}

#title{
    margin-right: 100px;
    font-size: 22.5px;
    font-family: 'Bricolage Grotesque', sans-serif;


}

.main_p{
    font-size: 22.5px;
    font-family: 'Bricolage Grotesque', sans-serif;

}



#download{
    margin-left: 100px;
    background-color: rgb(237, 210, 181);
    height: 45px;
    width: 120px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Bricolage Grotesque', sans-serif;
    padding: auto;




}

button{
    background-color: #1f1f1f;
    color: darkgoldenrod;
    text-decoration: none;
    border: #121212;
    font-family: 'Bricolage Grotesque', sans-serif;
}


h1{
    margin-top: 150px;
    margin-left: 300px;
    font-size: 3.75rem;
}

body p{
    margin-left: 300px;
    font-size: 1.00rem;
    width: fit-content;
    width: 570px;
}


.os_option{
    margin-left: 300px;
    font-size: 1.75rem;
    background-color: #121212;
    margin-right: 900px;
    border-radius: 1rem;
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;


}

.os_option_button{
    background-color: #121212;
    border-radius: 1rem;
}

.os_option_button::selection{
    background-color: #aaa0a0;
    border-radius: 1rem;
}